div[data-color] {
    color: red;
}

[class*="foo"] {
    color: green;
}

div[data-class="foo"i] {
    color: blue;
}

div[class="red-color"] p {
    color: red;
}

div[class="green-color"]>p {
    color: green;
}

div[class="blue-text"] p+p {
    color: blue;
}

div[class="orange-text"] p~p {
    color: orange;
}

.boxes {
    padding: 0.5em;
    border: 1px solid black;
    background-color: aqua;
}

span:nth-child(n+2) {
    border: 1px dashed black;
    background-color: blueviolet;
}

input:not(.example) {
    background-color: aliceblue;
}